header {
  padding: $size-md $size-xl;
  border-bottom: $size-xs solid $primary;
  color: $primary-dark;
  background-color: $primary-light;

  p {
    margin: 0 5rem;
  }

  .title {
    color: $primary;

    &:hover {
      color: $primary;
      background-color: transparent;
    }

    &:focus-visible {
      color: $primary-light;
      background-color: $primary;
    }
  }

  @media (max-width: $breakpoint-phone) {
    padding: $size-md;
    h1 {
      font-size: 2.5rem;
    }
  }
}
