.post-img-container {
  @include pushable($bg-light, $bg-dark);
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  margin: $size-ul auto;
  cursor: pointer;

  a {
    padding: 0;
  }

  picture {
    display: block;
    line-height: 0;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  p {
    text-align: center;
  }

  @media (max-width: $breakpoint-phone) {
    height: 90%;
    width: 90%;
  }
}
