section.post {
  article {
    max-width: 1024px;
    margin: 0 auto;
    padding: $size-xl;

    hr {
      height: $size-xs;
      margin: $size-xl 0;
      border: none;
      background-color: $primary;
    }

    pre {
      @include box($primary-light, $primary-light);
      max-width: 75vw;
      margin: $size-xl auto;
      padding: $size-sm;

      code {
        display: block;
        overflow-x: auto;
      }

      .button-container {
        display: flex;
        justify-content: right;

        button {
          border: none;
          color: $bg;
          background-color: transparent;

          &:focus-visible,
          &:hover {
            outline: none;
            color: $blk;
            background-color: $primary-light;
          }

          &:active {
            color: $bg;
            background-color: $primary;
          }
        }
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      table td {
        padding: 0;
      }

      table td:first-child {
        width: 1.5rem;
        text-align: right;
        user-select: none;

        &:not(:has(mark)) {
          padding-right: $size-sm;
        }

        mark {
          padding-right: $size-sm;
          color: $bg-light;
          font-weight: bold;
        }
      }

      table td span::selection {
        background-color: $primary;
      }

      mark {
        display: block;
        color: #d4be98;
      }

      @media (max-width: $breakpoint-phone) {
        min-height: 1.2rem;
        max-width: 85vw;
        margin: $size-xl auto;
        font-size: 0.66rem;
      }
    }

    p {
      code {
        color: darken(gray, 25%);

        &::before,
        &::after {
          content: '`';
        }
      }
    }

    a:hover {
      code {
        color: $bg;
      }
    }

    #continue-reading {
      display: block;
      width: $size-md;
      margin: $size-xl auto;
      border: none;
      border-bottom: 4px dotted $primary-dark;
    }

    @media (max-width: $breakpoint-phone) {
      padding: $size-xl $size-md;
    }
  }
}
