{% extends "base.html" %}

{% block content %}

<link rel="preload" href="blog.meneillos.com/fonts/miosevka.woff2" as="font" type="font/woff2" crossorigin>

<section class="post">
  <article>
    <h2 class="title">
      {{ page.title }}
    </h2>
    <p><strong>{{ page.date }}</strong></p>

    {{ page.content | safe }}

    <br><br>
    Back to:
    <a href="#">top</a>
    /
    <a href="/">home</a>
  </article>

  <script type="text/javascript" src="/js/clipboardSnippet.js"></script>
</section>


{% endblock content %}
